/* You can add global styles to this file, and also import other style files */
.form-row{
    margin: 10px 0px;
}
.radio{
    margin:6px 3px;
}
.labelRegistration{
    margin-left: 10px;
}
.btn-register{
    margin-bottom:30px;
}